{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}💫 django: Articles{% endblock title %}

{% block content %}
<div>
	<h1 id="articles" style="display: inline-block">Articles</h1>

	{% include 'nav.html' %}

	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<th>TITLE</th>
					<th>AUTHOR</th>
					<th>SYNOPSIS</th>
					<th>CREATED</th>
					<th>⏳</th>
					<th>🔍</th>
				</tr>
			</thead>
			<tbody>
				{% for article in object_list %}
				<tr>
					<td>{{ article.title|truncatechars:50 }}</td>
					<td>{{ article.author }}</td>
					<td>{{ article.synopsis|truncatechars:100 }}</td>
					<td>{{ article.created|date:"d-M-Y H:i"|upper }}</td>
					<td>{{ article.created|timesince}}</td>
					<td>
						<a href="{% url 'articles_detail' article.id %}" class="btn btn-info fs-6">DETAIL</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}