{% load static %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="es" data-bs-theme="dark">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        {% bootstrap_css %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
        {% bootstrap_javascript %}
    </head>

    <body class="bg-dark min-vh-100">
        <div class="container-fluid px-4 mt-3" style="width: 95%;">
            <div class="bg-dark-subtle p-4 rounded shadow-sm">
                {% bootstrap_messages %}
                {% block content %}
                <h1 class="text-light">{{ request.path }}</h1>
                {% endblock content %}
            </div>
        </div>
        {% block extra_js %}{% endblock %}
    </body>
</html>