{% load static %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="es" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}django Articles{% endblock %}</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body class="min-vh-100 bg-dark">
    <div class="container bg-dark-subtle p-4 rounded shadow-sm">
        {% bootstrap_messages %}
        {% block content %}
        <h1 class="text-light">{{ request.path }}</h1>
        {% endblock content %}
    </div>

    {% block extra_js %}{% endblock %}
</body>
</html>