{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block title %}{{ object.title }} | {% endblock title %}
{% block content %}
<h1>Detail</h1>
{% include 'nav.html' %}

<div>
    <h1>{{ object.title }}</h1>
    <div style="display: flex; justify-content: space-between">
        <div>
            <h3 id="object.author" style="display: inline-flex; color: rgb(125, 125, 125)">{{ object.author }}</h3>
            <h5 id="object.created" style="display: inline-flex">- {{ object.created }}</h5>
        </div>

        {% if user.is_authenticated %}
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form favouriteForm %}
            {% bootstrap_button "🔖" button_type="submit" %}
        </form>
        {% endif %}
    </div>

    <hr>

    <div class="lead">
        <blockquote>{{ object.synopsis }}</blockquote>
        <div>
            {{ object.content }}
        </div>
    </div>
</div>
{% endblock %}
