{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}💫 django: Favourites{% endblock title %}

{% block content %}
<div>
    <h1 id="favourite" style="display: inline-block">Favourites</h1>

    {% include 'nav.html' %}

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>TITLE</th>
                    <th>🔍</th>
                </tr>
            </thead>
            <tbody>
                {% for favourite in object_list %}
                <tr>
                    <td>
                        <a href="{% url 'articles_detail' favourite.article.id %}">
                            {{ favourite.article.title }}-{{ favourite.article.author }}
                        </a>
                    </td>
                    <td>
						<a href="{% url 'articles_detail' article.id %}" class="btn btn-info">DETAIL</a>
					</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}