{% load static %}
{% load django_bootstrap5 %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm mb-4">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarContent">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'index' %}">
                    <span class="visually-hidden">(current)</span>
                </a>
                
                {% if last_article %}
                <a class="nav-link text-light" href="{% url 'articles_detail' last_article.id %}">Last Articles</a>
                {% endif %}
                
                {% if user.is_authenticated %}
                <a class="nav-link text-light" href="{% url 'favourite' %}">Favourites</a>
                <a class="nav-link text-light" href="{% url 'publish' %}">Publish</a>
                <a class="nav-link text-light" href="{% url 'publications' %}">Publications</a>
                {% else %}
                <a class="nav-link text-light" href="{% url 'register' %}">Sign Up</a>
                {% endif %}
            </div>

            <div class="ms-auto">
                {% if user.is_authenticated %}
                <span class="nav-link text-light me-3 d-inline-block">
                    User Connect ->  {{request.user.username}}
                </span>
                <a class="nav-link text-light d-inline-block" href="{% url 'logout' %}">
                    Log OUT
                    <span class="visually-hidden">logout</span>
                </a>
                {% else %}
                <form class="d-flex align-items-center" method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class="d-flex gap-2">
                        {% bootstrap_form login_form %}
                        {% bootstrap_button "Log IN" button_type="submit" button_class="btn-outline-light" %}
                    </div>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</nav>