{% extends 'ex03/base.html' %}
{% load static %}

{% block title %}
	<title>Ex03: Shades</title>
{% endblock title %}

{% block style %}
	<style>
        body {
            font-family: Arial, sans-serif;
            background-color: #aaa;
            margin: 20px;
            padding: 10px;
        }
        .container {
            max-width: 90%;
            margin: 0 auto;
            padding: 20px;
        }
        h1 {
            color: #333;
            border-bottom: 2px solid #ddd;
            padding-bottom: 10px;
        }
        table {
            border-collapse: collapse;
			margin-left: 20px;
        }
        th, td {
            width: 80px;
            height: 40px;
            text-align: center;
        }
        th {
            background-color: #ddd;
        }
	</style>
{% endblock style %}

{% block content %}
	<h1>Color shades.</h1>
	<div>
	<table>
		<tr>
            <th>noir</th>
            <th>rouge</th>
            <th>vert</th>
            <th>bleu</th>
		</tr>
		{% for shade in range %}
		<tr>
			<td style="background-color: #{{ shade }}{{ shade }}{{ shade }};"></td>
            <td style="background-color: #{{ shade }}0000;"></td>
            <td style="background-color: #00{{ shade }}00;"></td>
            <td style="background-color: #0000{{ shade }};"></td>
		</tr>
		{% endfor %}
	</table>
	</div>
{% endblock %}
