{% extends 'ex01/base.html' %}

{% block title %}
	<title>Ex01: Display process of a static page.</title>
{% endblock title %}

{% block content %}
	<div class="content">

		<h1>Static Web Page Process</h1>

		<div class="description">
			<h2>Description:</h2>
			<p>In this page, we describe the process causing the display of a static web page from a simple template going through a view, from the request to the answer:</p>
			<ol>
			<li>The user enters a URL in the browser, which sends a request to the server.</li>
			<li>The server receives the request and routes it to the appropriate Django view.</li>
			<li>The view function processes the request (in this case, it doesn't need to fetch data from a database).</li>
			<li>The view selects the appropriate template (in this case, our static page template).</li>
			<li>Django renders the template, replacing any template tags or variables with actual content.</li>
			<li>The rendered HTML is sent back to the user's browser as a response.</li>
			<li>The browser receives the HTML and any associated static files (like our style1.css).</li>
			<li>The browser renders the HTML and applies the CSS styles to display the page to the user.</li>
			</ol>
		</div>

		<table style="width: 90%">
			<tbody>
			<tr>
				<th>Static Web Page Characteristics</th>
			</tr>
			<tr>
				<td>1.</td>
				<td>
				In static web pages, Pages will remain same until someone changes it
				manually.
				</td>
			</tr>
			<tr>
				<td>2.</td>
				<td>Static Web Pages are simple in terms of complexity.</td>
			</tr>
			<tr>
				<td>3.</td>
				<td>In static web pages, Information are change rarely.</td>
			</tr>
			<tr>
				<td>4.</td>
				<td>
				Static Web Page takes less time for loading than dynamic web page.
				</td>
			</tr>
			<tr>
				<td>5.</td>
				<td>In Static Web Pages, database is not used.</td>
			</tr>
			<tr>
				<td>6.</td>
				<td>
				Static web pages are written in languages such as: HTML, JavaScript,
				CSS, etc.
				</td>
			</tr>
			<tr>
				<td>7.</td>
				<td>Static web pages does not contain any application program.</td>
			</tr>
			<tr>
				<td>8.</td>
				<td>Static web pages require less work and cost in designing them.</td>
			</tr>
			</tbody>
		</table>
	</div>
{% endblock content %}
