<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>{page_title}</title>
		<style>
			table, th, td {
				border-style: solid;
				border-collapse: collapse;
				border-color: #333;
				padding: 10px;
				background-color: #999;
			}
			body {
				background-color: #bbb;
			}
		</style>
	</head>

	<body>
		<p>"-Who are you?
		-I'am {name}!"</p>
		<h1>{name} {surname}</h1>
		<table>
		<tr>
		<th>Category</th><th>Information</th>
		</tr>
		<tr>
		<td>Name</td><td>{name}</td>
		</tr>
		<tr>
		<td>Surname</td><td>{surname}</td>
		</tr>
		<tr>
		<td>Age</td><td>{age}</td>
		</tr>
		<tr>
		<td>Profession</td><td>{profession}</td>
		</tr>
		</table>
	</body>

</html>
