{% extends 'ex02/base.html' %}
{% load static %}

{% block title %}
    <title>Ex02: History Form</title>
{% endblock title %}

{% block style %}
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #aaa;
            margin: 0;
            padding: 0;
        }
        .container {
            max-width: 90%;
            margin: 0 auto;
            padding: 20px;
        }
        h1 {
            color: #333;
            border-bottom: 2px solid #ddd;
            padding-bottom: 10px;
        }
        form {
            background-color: #bbb;
            border: 1px solid #ddd;
            padding: 20px;
            border-radius: 5px;
            margin-bottom: 20px;
        }
        table {
            width: 100%;
            th {
                max-width: fit-content;
                width: 30%;
                text-align: left;
                padding: 10px 0;
            }
        }
        input[type="text"], textarea {
            width: 100%;
            box-sizing: border-box;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        input[type="submit"] {
            background-color: #666;
            color: #ddd;
            padding: 10px 10px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
        }
        .history-item {
            background-color: #bbb;
            border: 1px solid #ddd;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 4px;
            font-size: 16px;
        }

    </style>
{% endblock style %}

{% block content %}
    <div class="container">
        <section>
            <h1>📑 Message FORM</h1>
            <form action="" method="post">
                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                </table>
                <input type="submit" value="SUBMIT" />
            </form>
        </section>

        <section>
            <h1>📈 Messages HISTORY (reversed sorted)</h1>
            {% if historys %}
                <ul>
                {% for history in historys reversed %}
                    <li class="history-item">
                        {% with log=history|slice:"1:-1"|cut:"]" %}
                            {% with datetime=log|slice:":19" message=log|slice:"24:" %}
                                {{ datetime }} >> {{ message }}
                            {% endwith %}
                        {% endwith %}
                    </li>
                {% endfor %}
                </ul>
            {% else %}
                <p>No history data available.</p>
            {% endif %}
        </section>
    </div>
{% endblock %}
