* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: blue;
  background-color: #f4f4f4;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.content {
  max-width: 720px;
  width: 100%;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

h1, h2, h3 {
  color: blue;
  margin-bottom: 15px;
  border-bottom: 2px solid cyan;
  padding-bottom: 10px;
}

p {
  margin-bottom: 15px;
}

a {
  color: #3498db;
  text-decoration: none;
}

a:hover {
  color: darkblue;
  text-decoration: underline;
}

.highlight {
    background-color: #f0f9f5;
    border-left: 4px solid cyan;
    padding: 10px;
    margin: 20px 0;
}
